<div class="mb-4 pb-1" [formGroup]="group">
  <label for="name" class="mx-0 px-0 mb-2"
    >{{ label }}:<span *ngIf="required" class="text-danger px-1">{{
      "*"
    }}</span></label
  >
  <textarea
    rows="4"
    class="d-block w-100"
    [formControlName]="name"
    [id]="name"
  ></textarea>
  <!-- <p class="my-0" *ngIf="control?.getError('required')">
    {{ label }} is required
  </p> -->
  <!-- <div
    *ngIf="control?.errors && control?.touched"
    class="alert alert-danger py-2 mt-2"
  >
    <p class="my-0" *ngIf="control?.getError('required')">
      {{ label }} is required
    </p>
    <p class="my-0" *ngIf="control?.getError('minlength')">
      Min length is 8 characters
    </p>
  </div> -->
</div>
