.breadcrumb-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.breadcrumb-links {
  display: flex;
  align-items: center;
}

.breadcrumb-link {
  font-size: 1rem;
  color: #101820;
  text-decoration: none;
  font-weight: bold;
}

.breadcrumb-link:hover {
  text-decoration: underline;
}

.breadcrumb-divider {
  margin-right: 1rem;
  margin-left: 1rem;
  color: #101820;
}

.breadcrumb-current {
  font-size: 1rem;
  color: #101820;
  font-weight: bold;
}

.program {
  &__item {
    position: relative;
    margin-bottom: 8px;
    overflow: hidden;

    &__content {
      position: absolute;
      bottom: 0;
      left: 0;
      color: #fff;
      text-align: left;
      padding: 20px;
      display: flex;
      flex-direction: column;
      align-items: flex-end;

      h3 {
        font-size: 2rem;
      }
    }

    &:hover img {
      transform: scale(1.1);
    }
    
  &:hover {
    div {
      .more {
        background-color: white;
        svg {
          stroke: black;
        }
      }
    }
  }

    img {
      width: 100%;
      height: 100%;
      transition: all 0.2s ease-in;
      object-fit: cover;
    }
  }
}

@media (min-width: 768px) {
  .program {
    display: grid;
    grid-template-columns: repeat(15, 1fr);
    grid-gap: 5px;

    &__item {
      margin-bottom: 0;

      &:nth-child(1) {
        grid-column: span 8;
        grid-row: span 2;
        height: 100%;
      }

      &:nth-child(2) {
        grid-column: span 7;
        grid-row: span 1;
      }

      &:nth-child(3) {
        grid-column: span 7;
        grid-row: span 1;
      }
    }
  }
}
.more {
  color: white;
  border: 1px solid white;
  font-size: 31px;
  width: 30px;
  height: 30px;
  align-items: center;
  border-radius: 50%;
  line-height: 0.8;
  transition: 0.35s;
  display: flex;
  text-align: left !important;
  flex-shrink: 0;

  svg {
    stroke: white;
    width: 100%;
  }
}

