h1{
    font-size: 3.125rem;
    font-weight: 600;
}
strong{
    width: 70%;
}
@media (max-width: 1200px) {
    h1 {
        font-size: calc(1.4375rem + 2.25vw);
    }
}
.container{
    div{
        width: 70%;
        font-weight: 400;
    }
}