<div class="container">
    <div class="page-path d-flex flex-wrap align-items-center mb-3">
        <a [routerLink]="['']">
            {{ lang == "ar" ? "الرئيسية" : 'Home'}}
        </a>
    </div>
    <h1 class="page-title">{{ lang == "ar" ? 'المركز الإعلامي' : 'Media Center' }}</h1>
    <div class="mb-5">
        <div class="container row align-items-center justify-content-between">
            <h2>{{ lang == "ar" ? 'الأخبار' : 'News' }}</h2>
            <a [routerLink]="['/media/news']" class="d-flex">
                <span>{{ lang == "ar" ? 'عرض جميع الأخبار' : 'View All News' }}</span>
                <span class=" more align-items-center d-flex shrink-0 mt-3 mb-2 rounded-circle text-left">
                    <svg width="30" viewBox="0 0 32 32" style="transform:rotate(180deg);"
                        [ngStyle]="{'transform': lang === 'ar' ? 'rotate(180deg)' : 'rotate(0deg)'}" version="1.1"
                        xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" fill="#000000">
                        <g id="SVGRepo_bgCarrier" stroke-width="5"></g>
                        <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                        <g id="SVGRepo_iconCarrier">
                            <g id="icomoon-ignore"> </g>
                            <path
                                d="M19.159 16.767l0.754-0.754-6.035-6.035-0.754 0.754 5.281 5.281-5.256 5.256 0.754 0.754 3.013-3.013z"
                                fill="#000000"> </path>
                        </g>
                    </svg>
                </span>
            </a>
        </div>
        <div class="cards-container row">
            <div class="cards p-2" *ngFor="let item of newsMedia; let i = index" class='col-lg-4 col-12'>
                <ng-container *ngIf="!isLangChange">
                    <div class="news-card d-flex flex-column flex-grow-1 mb-4"
                        [attr.aria-label]="lang === 'ar' ? item?.titleAr || '' : item?.title || ''">
                        <div class="img-container position-relative w-100 overflow-hidden shrink-0">
                            <a [routerLink]="['/media/', 'news', item.slug]"
                                [attr.aria-label]=" lang === 'ar' ? item?.titleAr || '' : item?.title || '' ">
                                <img [src]="item?.imageUrl || ''"
                                    [altText]="lang === 'ar' ? item?.titleAr || '' : item?.title || ''" appImgError
                                    appLazyLoadImg />
                                <div class="overlay"></div>
                            </a>
                        </div>
                        <div class="card-body p-0 d-flex flex-column">
                            <div class="wrapper d-flex flex-column justify-content-between flex-grow-1">
                                <div class="title d-flex f-row g-1 justify-content-between">
                                    <a [routerLink]="['/media/', 'news', item.slug]" class="card-title"
                                        [ngClass]="{'text-right': lang !== 'ar', 'text-left': lang === 'ar'}"
                                        [attr.aria-label]=" lang === 'ar' ? item?.titleAr || '' : item?.title || '' ">
                                        {{lang === 'ar' ? item?.titleAr || '' : item?.title || ''}}
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-container>

                <!-- News-loading  -->
            </div>
            <ng-container *ngIf="isLoading">
                <app-loading [type]="'photo-gallery'"></app-loading>
            </ng-container>
        </div>
    </div>
    <div class="mb-5">
        <div class="container row align-items-center justify-content-between">
            <h2>{{ lang == "ar" ? 'مدونات المعهد الملكي' : 'Royal Institute Blogs' }}</h2>
            <a [routerLink]="['/media/institute-blogs']" class="d-flex">
                <span>{{ lang == "ar" ? 'عرض المدونات' : 'View All Blogs' }}</span>
                <span class=" more align-items-center d-flex shrink-0 mt-3 mb-2 rounded-circle text-left">
                    <svg width="30" viewBox="0 0 32 32" style="transform:rotate(180deg);"
                        [ngStyle]="{'transform': lang === 'ar' ? 'rotate(180deg)' : 'rotate(0deg)'}" version="1.1"
                        xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" fill="#000000">
                        <g id="SVGRepo_bgCarrier" stroke-width="5"></g>
                        <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                        <g id="SVGRepo_iconCarrier">
                            <g id="icomoon-ignore"> </g>
                            <path
                                d="M19.159 16.767l0.754-0.754-6.035-6.035-0.754 0.754 5.281 5.281-5.256 5.256 0.754 0.754 3.013-3.013z"
                                fill="#000000"> </path>
                        </g>
                    </svg>
                </span>
            </a>
        </div>
        <div class="cards-container row">
            <div class="cards p-2" *ngFor="let item of instituteMedia; let i = index" class='col-lg-4 col-12'>
                <ng-container *ngIf="!isLangChange">
                    <app-blog-card [item]="item" [name]="'institute-blogs'"></app-blog-card>
                </ng-container>
            </div>
            <ng-container *ngIf="isLoading">
                <app-loading [type]="'blog-cards'"></app-loading>
            </ng-container>
        </div>
    </div>
    <div class="mb-5">
        <div class="container row align-items-center justify-content-between">
            <h2>{{ lang == "ar" ? 'مكتبة الصور' : 'Photo Gallery' }}</h2>
            <a [routerLink]="['/media/photo-gallery']" class="d-flex">
                <span>{{ lang == "ar" ? 'عرض مكتبة الصور' : 'View Photo Gallery' }}</span>
                <span class=" more align-items-center d-flex shrink-0 mt-3 mb-2 rounded-circle text-left">
                    <svg width="30" viewBox="0 0 32 32" style="transform:rotate(180deg);"
                        [ngStyle]="{'transform': lang === 'ar' ? 'rotate(180deg)' : 'rotate(0deg)'}" version="1.1"
                        xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" fill="#000000">
                        <g id="SVGRepo_bgCarrier" stroke-width="5"></g>
                        <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                        <g id="SVGRepo_iconCarrier">
                            <g id="icomoon-ignore"> </g>
                            <path
                                d="M19.159 16.767l0.754-0.754-6.035-6.035-0.754 0.754 5.281 5.281-5.256 5.256 0.754 0.754 3.013-3.013z"
                                fill="#000000"> </path>
                        </g>
                    </svg>
                </span>
            </a>
        </div>
        <div class="cards-container row container">
            <ng-container *ngIf="!isLangChange">
                <app-photo-gallary-list [media]="galleryMedia" [name]="'photo-gallery'"></app-photo-gallary-list>
            </ng-container>
            <ng-container *ngIf="isLoading">
                <app-loading [type]="'photo-gallery'"></app-loading>
            </ng-container>
        </div>
        <!-- Photo-gallery-loading -->
    </div>
</div>