.card {
  border: none;
  &-img {
    height: 350px;
    overflow: hidden;

    & img {
      object-fit: cover;
      transition: all 0.5s;
    }
  }

  &:hover {
    h2 {
      color: rgb(0, 0, 133);
    }
    .card-img img {
      transform: scale(1.05);
    }
  }
}
