<div class="container">
  <h2>{{ lang === "ar" ? "الأسئلة الشائعة" : "FAQs" }}</h2>
  <div class="p-md-4 py-4">
    <div *ngFor="let faq of faqList">
      <app-accordion
        [title]="lang == 'ar' ? faq.titleAr : faq.title"
        [desc]="lang == 'ar' ? faq.descriptionAr : faq.description"
      ></app-accordion>
    </div>
    <div class="pagination">
      <button [disabled]="page === 1" (click)="goToPage(1)">
        ««
      </button>
      <button [disabled]="page === 1" (click)="goToPage(page - 1)">
        «
      </button>
    
      <ng-container *ngFor="let p of pages">
        <button
          [class.active]="p === page"
          (click)="goToPage(p)"
        >
          {{ p }}
        </button>
      </ng-container>
    
      <button [disabled]="page === totalPages" (click)="goToPage(page + 1)">
        »
      </button>
      <button [disabled]="page === totalPages" (click)="goToPage(totalPages)">
        »»
      </button>
    </div>
    
  </div>
</div>
