.page-path {
    font-size: 0.929em;
    font-size: 1rem;
    gap: 13px;
    a {
        &:hover {
            text-decoration: underline;
        }
    }
}
.page-title {
    h1 {
        font-size: 3.125rem;
        font-weight: 600;
    }
}
.title {
    position: relative;
    padding: 0 65px;
}

.title::before {
    content: "";
    position: absolute;
    width: 50px;
    height: 4px;
    background-color: #e04403;
    border-radius: 2px;
    top: 50%;
    transform: translateY(-50%);
    top: 25px;
}
@media (max-width:767px) {
    .title {
        position: relative;
        padding: 0 ;
    }
    .title::before {
        display: none;
    }
}

.title.ltr::before {
    left: 5px;
    right: auto;
}

.title.rtl::before {
    right: 5px;
    left: auto;
}

.related {
    position: relative;
    margin-bottom: 70px;
    padding-top: 70px;

    h2 {
        font-weight: 600;
        color: #025157;
        font-size: calc(1.0375rem + 2.25vw);
        margin-bottom: 20px;
    }
}

.cards:first-child {
    height: 360px;
}
@media (max-width:1024px) {
    .cards:first-child {
        height: auto;
    }
}
.page {
    padding-bottom: 20px;
    padding-top: 60px;

    .img-container {
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        background-color: #33333360;
        margin-top: 20px;
        height: 65vh;
        border-radius: 15px;
        overflow: hidden;
        img {
            width: 100%;
            height: 100%;
            object-fit: fill;
        }
    }
}

.page-content {
    width: 70%;
    line-height: 1.5 !important;
    font-size: 1.071em;
    font-weight: 400;
    .share {
        span {
            position: relative;
            top: -10px;
            font-size: 1.875rem;
            font-weight: 500;
            display: flex;
            align-items: center;
        }
        .links ul {
            gap: 15px;
            li {
                list-style: none;
                a svg {
                   padding: 8px;
                    border: 1px solid #BD9B60;
                    fill: #025157;
                    transition: .3s;
                    &:hover {
                        border: 1px solid #025157;
                        fill: white;
                        background-color: #025157;
                    }
                }
            }
        }
    }
}

@media (max-width:1024px) {
    .page-content {
        width: 100%;
    }
}
@media (max-width:767px) {
    .gallery-container {
        height: 180px;
        width: 100%;
    }

    .page-data {
        padding: 0px;
        border: 0;
    }

    .img-cont {
        min-width: 72px !important;
        max-height: 54px !important;
    }

    ;

    .images-slider {
        width: 85%;
        gap: 2px;
        margin: auto;

    }

    .photo-gallary {
        width: 100%;
    }

    .slider-btn.back {

        width: 40px;
        top: -131%;
        left: -5px;
        width: 40px;
    }

    .slider-btn.next {
        width: 40px;
        top: -131%;
        right: -5px;

    }

    .slider-btn {
        top: 68%;
    }

    .related {
        padding: 20px;
    }

    .zig-zag-gallery-line {
        display: none
    }


}

.slider {
    position: relative;
}

.related {
    position: relative;
    margin-bottom: 70px;
    padding-top: 70px;

    h2 {

        font-weight: 600;
        color: #025157;
        font-size: calc(1.0375rem + 2.25vw);
        margin-bottom: 20px;
    }
}
.page-data {
    position: relative;
    padding: 65px;
    border: 1px solid rgba(16, 24, 32, 0.1);
    margin-bottom: 30px;
    border-bottom: 0;
    overflow: hidden;
}
@media (max-width:767px) {
    .page-data {
        padding: 0px;

    }
}